<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MacsautoIndonesia.CommandLine.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <MacsautoIndonesia.CommandLine.My.MySettings>
            <setting name="DatabaseHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DatabasePass" serializeAs="String">
                <value />
            </setting>
        </MacsautoIndonesia.CommandLine.My.MySettings>
    </userSettings>
</configuration>
